.c-headline-wrapper {
    height: auto;
    .c-headline {
        padding: 24px 8px 8px;
        font-size: 2.2rem;
        font-weight: 400;
        display: inline-block;
        background: linear-gradient(transparent 75%, $accent 75% 100%);
    }
}

@media (max-width: 1000px) {
    .c-headline-wrapper {
        text-align: center;
    }
}