.c-headline {
    padding: 24px 8px 0;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    // background: linear-gradient(transparent 70%, $accent);
    border-bottom: 8px solid $accent;
}