@import "variable/_variables";

.c-menu {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  padding: 24px;
  margin: 16px;
  width: 480px;
  box-shadow: -8px 8px 6px lighten($black, 60%);

  &__logo {
    text-align: center;
    padding-right: 16px;
    h3 {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: $black;
      
      line-height: 64px;
      font-size: 1.6rem;
      font-weight: 400;
      color: $white;
    }
    p {
      padding: 8px;
    }
  }
  &__price {
    h2 {
      font-size: 2.4rem;
      padding-bottom: 16px;
      span {
        font-size: 1.6rem;
      }
    }
    p {
      padding: 8px;
      span {
        font-weight: 700;
      }
    }
  }
  &__set {
    width: 480px;
    background-color: $gray;
    padding: 24px;
    margin: 16px;
    box-shadow: -8px 8px 6px lighten($black, 60%);
    &-content {
      display: flex;
      flex-wrap: wrap;
      ul {
        vertical-align: top;
        display: inline-block;
        padding: 12px;
        li {
          padding: 4px 0;
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  &__option {
    width: 480px;
    background-color: $gray;
    padding: 24px;
    margin: 16px;
    box-shadow: -8px 8px 6px lighten($black, 60%);
    h4 {
      font-size: 1.4rem;
      padding-bottom: 16px;
    }
    td {
      padding: 8px;
      &:last-child {
        font-weight: 700;
      }
      span {
        font-size: 0.8rem;
        padding-left: 4px;
      }
    }
  }
  &__contact {
    width: 480px;
    text-align: center;
    background-color: $accent;
    color: $white;
    padding: 24px;
    margin: 16px;
    box-shadow: -8px 8px 6px lighten($black, 60%);

    a {
      color: $white;
      &:visited {
        color: $white;
      }
      &:hover {
        color: rgba($color: $white, $alpha: 0.5);
        transition: 0.5s;
      }
    }
    
    h2 {
      font-size: 2.2rem;
      padding: 16px 0;
    }
    h3 {
      padding-bottom: 8px;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .c-menu {
    width: 100%;
    &__logo {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
    h2 {
      font-size: 1.6rem;
      span {
        font-size: 1.2rem;
      }
    }
    &__set {
      width: 100%;
    }
    &__option {
      width: 100%;
    }
    &__contact {
      width: 100%;
      h2 {
        font-size: 1.6rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}