@import "variable/_variables";

.p-hero {
  width: 100%;
  height: 100vh;
  position: relative;

  background-image: url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    width: 100%;
    position: absolute;
    top: 0;
    // background: linear-gradient(180deg, #080601, transparent);
    nav {
      ul {
        display: flex;
        align-items: center;
        li {
          text-align: center;
          width: 25%;
          a {
            display: inline-block;
            line-height: 64px;
            color: $white;
            &visited {
              color: $white;
            }
            &:hover {
              color: $accent;
              transition: 0.5s;
            }
          }
        }
      }
    }
    #nav-toggle {
      display: none;
    }
  }

  &__title {
    width: 600px;
    height: 320px;

    // background-color: $white;
    background-color: rgba($color: $white, $alpha: 0.5);
    box-shadow: -8px 8px 6px lighten($black, 10%);
    display: flex;
    justify-content: center;
    align-items: center;

    &--inner {
      text-align: center;
      h1 {
        font-size: 4rem;
        span {
          color: $niku;
        }
      }
      p {
        font-size: 1rem;
        padding-top: 32px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .p-hero {
    &__header {
      nav {
        display: none;
        position: absolute;
        top: 72px;
        width: 100%;
        background-color: rgba($color: $black, $alpha: 0.8);
        left: 0;
        ul {
          display: block;
          margin: 0 auto;
          width: 90%;
          li {
            text-align: center;
            border-bottom: 1px solid $white;
            width: 100%;
            &:last-child {
              border: none;
            }
            a {
              display: block;
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
      }
      #nav-toggle{
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        top: 16px;
        left: calc(100vw - (40px + 32px));
        z-index: 100;
        div {
          position: relative;
          span {
            display: block;
            height: 3px;
            background: $white;
            position:absolute;
            width: 100%;
            left: 0;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2) {
              top: 12px;
            }
            &:nth-child(3) {
              top: 24px;
            }
          }
        }
      }
    }
    .open {
      #nav-toggle {
        span {
          &:nth-child(1) {
            top: 12px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            width: 0;
            left: 50%;
          }
          &:nth-child(3) {
            top: 12px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            transform: rotate(-135deg);
          }
        }
      }
    }

    &__title {
      width: 400px;
      height: 200px;
      &--inner {
        h1 {
          font-size: 3rem;
        }
      }
    }
    
  }
}