@import "variable/_variables";

.p-info {
  height: 100vh;
  padding: 0 24px;
  &-list {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    text-align: center;
    &__outline {
      padding: 24px;
      h3 {
        font-size: 1.6rem;
        padding: 32px 0;
      }
      table {
        background-color: $white;
        font-size: 1.2rem;
        box-shadow: -8px 8px 6px lighten($black, 60%);
        tr {
          height: 5vh;
          td {
            padding: 16px 24px;
            vertical-align: middle;
            &:first-child {
              font-weight: bold;
              // padding-right: 16px;
            }
            &:last-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .p-info {
    height: auto;
  }
  table td{
    font-size: 1rem;
  }
}