@import "variable/_variables";

.p-service {
  height: auto;
  padding: 0 24px 64px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  &__about {
    align-items: center;
    width: 480px;
    margin: 16px;

    h2 {
      font-size: 2rem;
      padding: 64px 0;
    }
    p {
      letter-spacing: 0.1rem;
      font-size: 1.2rem;
    }
  }
  &__image {
    margin-top: 64px;
    background-image: url(../images/bbq.png);
    // background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;

    box-shadow: -8px 8px 6px lighten($black, 60%);
    height: 360px;
    width: 100%;
    max-width: 480px;
    &--title {
      position: absolute;
      bottom: 0;
      height: 120px;
      width: 100%;
      text-align: center;
      color: $white;
      background-color: rgba($color: $black, $alpha: 0.8);
      h3 {
        font-size: 1.8rem;
        line-height: 80px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  &__menu {
    // width: 60%;
    &-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // background-color: $white;
      // box-shadow: -8px 8px 6px lighten($black, 60%);
      // width: 100%;
      margin: 16px;
    }
    &-sub {
      // width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .p-service {
    height: auto;
  }
}