@import "variable/_variables";

.p-service {
  height: auto;
  padding: 0 24px 64px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__about {
    width: 35%;
    padding: 24px;
  }
  &__image {
    &-title {

    }
  }
  &__menu {
    width: 60%;
    &-main {
      width: 100%;
    }
    &-sub {
      // width: 100%;
      display: flex;
      flex-wrap: wrap;

    }
    &-option {
      display: flex;
      flex-wrap: wrap;
    }
  }
}