@import "variable/_variables";

.p-stores {
  height: 100vh;
  padding-bottom: 64px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__item {
      background-color: $white;
      width: 40%;
      height: 180px;
      padding: 32px;
      margin: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      box-shadow: -8px 8px 6px lighten($black, 60%);
      h2 {
        font-size: 1.6rem;
        padding: 16px;
      }
      li {
        font-size: 1.2rem;
        padding: 4px;
      }

      a {
        color: $black;
        font-size: 1.4rem;
        &:visited {
          color: $black;
        }
        &:hover {
          color: $accent;
          transition: 0.5s;
        }
      }

      &--contact {
        box-shadow: -8px 8px 6px lighten($black, 60%);
        background-color: $accent;
        color: $white;
        width: 40%;
        height: 180px;
        padding: 32px;
        margin: 24px;
        a {
          color: $white;
          &:visited {
            color: $white;
          }
          &:hover {
            color: rgba($color: $white, $alpha: 0.5);
            transition: 0.5s;
          }
        }
        h2 {
          font-size: 2rem;
          padding: 16px;
          text-align: center;
        }
        p {
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .p-stores {
    height: auto;
    &-list {
      &__item {
        width: 80%;
        &--contact {
          width: 80%;
          h2 {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}